<!DOCTYPE html>
</html>
    <head>
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
            <form method="post" action="/users/edit%>">
                <table cellpadding="11">
                <tr>
                    <td>FirstName</td><td>: <input type="text" name="firstname" value="<%=data.user[0].firstname%>" required></td>
                 </tr>
                 <tr>
                   <td>LastName</td><td>: <input type="text" name="lastname" value="<%=data.user[0].lastname%>" required></td>
                </tr>
                <tr>
                    <td>Email</td><td>: <input type="text" value="<%=data.user[0].email%>" name="email" required></td>
                 </tr>
                  <tr>
                    <td>Id</td><td>: <input type="text" name="id" value="<%=data.user[0].id%>" readonly></td>
                 </tr>
                 <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
       </body>
</html>
