<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data.user %></h1>
   <input type="button" name="Home" value="Go to Home" onClick="window.location.href = '/users'">
  </body>
</html>
